@{
    string nombreUsuario = (string)Session["username"];
    bool esAdmin = (bool)Session["esAdmin"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de facturación</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sistema De Facturación", "Home", "Inicio")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (esAdmin)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Opciones de administrador<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Usuario/ListarUsuariosHabilitados">Listar Usuarios Habilitados</a></li>
                                <li><a href="/Usuario/ListarUsuariosDeshabilitados">Listar Usuarios deshabilitados</a></li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>  @nombreUsuario  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Usuario/CambiarPass">Cambiar Contraseña</a></li>
                        </ul>
                    </li>
                    <li><a href="/Login/FormularioIngreso"><span class="glyphicon glyphicon-log-out"></span>  LogOut</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Adolfo "Fefo" Castelo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
