@model ProyectoFinal.Models.ClienteModel

@{
    ViewBag.Title = "Deshabilitar";
}

@using (Html.BeginForm("DeshabilitarCliente", "Cliente"))
{

<h3>Está seguro que quiere deshabilitar este cliente?</h3>
<div>
    <hr />
    @Html.HiddenFor(m => m.ci)
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            CI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ci)
        </dd>

        <dt>
            Domicilio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

    </dl>


        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-danger" />
            <a class="btn btn-default" href="/Cliente/ListarClientesHabilitados">Volver</a>
        </div>

        


</div>
    }
